# Dependências
node_modules/

# Arquivos de build e produção
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de Editores
.vscode/
.idea/

# Arquivos de variáveis de ambiente
.env
.vercel
